 * {
     font-family: Arial, sans-serif;
     margin: 0;
     color: #003f5c;
 }



 header h1 {
     background: #0288d1;
     text-align: center;
     color: #fff;
     padding: 1rem 0;
 }

 nav ul {
     list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 }

 nav ul li {
     display: inline-block;

 }

 nav ul li a {
     display: inline-block;
     text-decoration: none;
     color: #003f5c;
     padding: 1rem;
     font-weight: bold;
 }

 nav ul li a:hover {
     background: #04273a;
     color: #fff;
 }

 #Home {
     text-align: center;
     padding: 50px;
     background-color: #b3e5fc;
 }

 #Home h2 {
     margin-bottom: 10px;
 }

 .container {
     display: grid;
     gap: 50px;
     align-items: center;
     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
 }

 .right img {
     width: 100%;
 }

 .container button {
     padding: 10px 20px;
     background-color: #0288d1;
     color: white;
     border: none;
     cursor: pointer;
     border-radius: 5px;
 }

 .container button:hover {
     background-color: #0277bd;
 }

 .container button a {
     color: #FFF;
     text-decoration: none;
 }

 .container p {
     margin: 1rem 0;
     text-align: justify;
 }


 /* teacher */

 .teach {
     padding: 2rem;
     background: #c7dfed;
 }

 .tech-title {
     text-align: center;
     margin-bottom: 1rem;
 }

 .teacher-main {
     display: grid;
     gap: 20px;
     grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
 }

 .teacher img {
     width: 100%;
 }

 .teacher {
     text-align: center !important;
 }

 .teacher p {
     text-align: center;
 }

 /* teacher */



 section {
     padding: 40px 20px;
 }

 footer {
     background-color: #87cefa;
     text-align: center;
     padding: 15px;
     margin-top: 40px;
 }
 .servicesmain{
    margin: auto;
    padding: 1rem;
    background-color: #94c0db;
 }
 .left-img{
    align-items: inline;
 }

 .facilator-main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
 }

 .facilator-main h2{
    font-size: 1rem;
 }

 .services p {
    text-align: center;
 }

 .right{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
 }
 .review {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      border: 1px solid #ccc;
      gap: 20px;
      padding: 15px;
      margin: 10px 0;
      border-radius: 8px;
      background-color: #f9f9f9;
    }
    .review .author {
      font-weight: bold;
      margin-bottom: 5px;
    }
    .review .rating {
      color: #ffa500;
    }
    /* .container.logo */

    .principal {
       display: grid;
       grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
       align-items: center;
       background-color: #0288d1;
    }
    .principal .logo-wrapper {
        width: 100%;
        border-radius: 5px;
        padding: 1rem;
    }
    .principal .description {
        padding: 15px;
        text-align: justify;
       
    }
    .right{
        background-color: #5f95b2;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
       align-items: center;
    }
    .right-item{
        color: #000000;
    }
    .right .breif{
        width: 70%;
        padding: 15px;
        text-align: justify;
    }
    .right .Awardes{
        width:70%;
        padding: 15px;
        border-radius: 5px;
    }

    .Awardes img{
        width: 100%;
        object-fit: cover;
    }

 